*.pyc
*.pyo
*.swp
*.swo
*.so
*.pdf
*.pickle
*.tmp
/build
/dist
/deb_dist
/debian/*.debhelper
/debian/*.log
/debian/*.substvars
/debian/python-qlog
/debian/python3-qlog
/debian/python-module-stampdir*
/debian/files
/debian/tmp
*.egg-info
/doc/_build/*
/doc/_static/*
__pycache__
/examples/.ipynb_checkpoints
